.contain{
    display: flex;
    justify-content: center;
    gap: 15rem;
    align-items: center;
}
.textDetail{
    color: aquamarine;
    font-size: 24px;
    font-weight: 650;
    display: block;
    justify-content: center;
    align-items: center;
}
.imgDetail{
    border-radius: 100%;
}
.button{
    padding: 60px;
    border-radius: 100px;
    color: darkgreen;
    background-color: yellowgreen;
    font-size: 30px;
    font-weight: 900;
    border-style: none;
}
.button:hover{

    color: yellowgreen;
    background-color: darkgreen;

}